nodered_flow_5 Januari 2021.json
[{"id":"f679c76e.4f0598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aa349397.d0736","type":"ui_button","z":"f679c76e.4f0598","name":"","group":"b2282044.18e91","order":1,"width":0,"height":0,"passthru":false,"label":"Capture camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":40,"wires":[["483eed12.c55014"]]},{"id":"b6b17214.6254b","type":"ui_template","z":"f679c76e.4f0598","group":"66b67db5.24dd14","name":"Original","order":1,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Original Image from Camera</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":160,"wires":[[]]},{"id":"483eed12.c55014","type":"exec","z":"f679c76e.4f0598","command":"gphoto2 --force-overwrite --filename '/media/ivan/Ivan/Final Applied CV/images/original/test_img/capt.jpg'  --capture-image-and-download","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Capture camera","x":320,"y":40,"wires":[["5190d93d.5af598"],["5cbe1af.ffe53e4"],[]]},{"id":"26bc4132.7bb5ce","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/original/test_img/capt.jpg","recursive":"","x":550,"y":200,"wires":[["65996d3f.ca6694","e709f2f8.4c41a"]]},{"id":"a1782a27.aa3838","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/original/test_img/capt.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":160,"wires":[["b6b17214.6254b"]]},{"id":"65996d3f.ca6694","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":160,"wires":[["a1782a27.aa3838"]]},{"id":"5cbe1af.ffe53e4","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"5190d93d.5af598","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"7b968b9d.c56ea4","type":"mjpg-consumer","z":"f679c76e.4f0598","name":"176p mjpeg","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=13&-usr=admin&-pwd=1029384756","interval":"1","x":330,"y":840,"wires":[["5292a8b0.617038"]]},{"id":"fea901bf.75979","type":"inject","z":"f679c76e.4f0598","name":"Start Consumer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"start","payloadType":"str","x":240,"y":781,"wires":[["7b968b9d.c56ea4"]]},{"id":"fbe1aafd.c0e348","type":"inject","z":"f679c76e.4f0598","name":"Stop Consumer","repeat":"","crontab":"","once":false,"topic":"","payload":"stop","payloadType":"str","x":240,"y":901,"wires":[["7b968b9d.c56ea4"]]},{"id":"5292a8b0.617038","type":"file","z":"f679c76e.4f0598","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\176snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":490,"y":841,"wires":[[]]},{"id":"38e21f23.e9b19","type":"ui_template","z":"f679c76e.4f0598","group":"e342e4f3.b8e718","name":"176p Stream","order":1,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>176p Stream</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/><br/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":860,"wires":[[]]},{"id":"cd26a74e.df2538","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\176snap.jpg","recursive":"","x":700,"y":859,"wires":[["5f8b9555.3f243c"]]},{"id":"5f8b9555.3f243c","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/176snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":860,"wires":[["38e21f23.e9b19"]]},{"id":"9da2d37.e4d2a3","type":"mjpg-consumer","z":"f679c76e.4f0598","name":"1080 Snap","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=11&-usr=admin&-pwd=1029384756","interval":"60","x":310,"y":1324,"wires":[["3b664462.0467ac"]]},{"id":"fa608558.67cb98","type":"inject","z":"f679c76e.4f0598","name":"Start Consumer","repeat":"","crontab":"","once":true,"topic":"","payload":"start","payloadType":"str","x":243.66666793823242,"y":1252.3333358764648,"wires":[["9da2d37.e4d2a3"]]},{"id":"f1992204.564df","type":"inject","z":"f679c76e.4f0598","name":"Stop Consumer","repeat":"","crontab":"","once":false,"topic":"","payload":"stop","payloadType":"str","x":241.66666793823242,"y":1384.3333320617676,"wires":[["9da2d37.e4d2a3"]]},{"id":"3b664462.0467ac","type":"file","z":"f679c76e.4f0598","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\1080snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":470,"y":1324,"wires":[[]]},{"id":"38b19be5.648044","type":"mjpg-consumer","z":"f679c76e.4f0598","name":"352p mjpeg","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=12&-usr=admin&-pwd=1029384756","interval":"20","x":310,"y":1076,"wires":[["7107ba0b.d1f824"]]},{"id":"87138b0a.019748","type":"inject","z":"f679c76e.4f0598","name":"Start Consumer","repeat":"","crontab":"","once":true,"topic":"","payload":"start","payloadType":"str","x":243.66666793823242,"y":1012.3333358764648,"wires":[["38b19be5.648044"]]},{"id":"f3b57498.3ac188","type":"inject","z":"f679c76e.4f0598","name":"Stop Consumer","repeat":"","crontab":"","once":false,"topic":"","payload":"stop","payloadType":"str","x":241.66666793823242,"y":1144.3333320617676,"wires":[["38b19be5.648044"]]},{"id":"7107ba0b.d1f824","type":"file","z":"f679c76e.4f0598","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\352snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":470,"y":1076,"wires":[[]]},{"id":"3c3bc97d.d65186","type":"ui_template","z":"f679c76e.4f0598","group":"28cbae81.817142","name":"352p Stream","order":2,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>352p Stream</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":940,"y":1081,"wires":[[]]},{"id":"68d0ec4c.70a264","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\352snap.jpg","recursive":"","x":650,"y":1081,"wires":[["5f50fee4.370b6"]]},{"id":"5f50fee4.370b6","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/352snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1081,"wires":[["3c3bc97d.d65186"]]},{"id":"cab6e111.38917","type":"ui_template","z":"f679c76e.4f0598","group":"b6452c1d.e36f3","name":"Static Image","order":2,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>1080p Snapshot</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/>\n    <a href=\"/1080snap.jpg\" target=\"_blank\"><button>Full screen</button></a>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":920,"y":1325,"wires":[[]]},{"id":"73234fce.1712a","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\1080snap.jpg","recursive":"","x":630,"y":1325,"wires":[["7fd3a78d.0cd758"]]},{"id":"7fd3a78d.0cd758","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/1080snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":772,"y":1325,"wires":[["cab6e111.38917"]]},{"id":"8ba73ea4.48d46","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/capt.jpg","recursive":"","x":930,"y":280,"wires":[["e5c9fed4.f5b85"]]},{"id":"e5c9fed4.f5b85","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":280,"wires":[["af77e0cf.9d99b"]]},{"id":"a9f3265a.876ec8","type":"ui_template","z":"f679c76e.4f0598","group":"20fd0af7.061a86","name":"Zero DCE Only","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1400,"y":280,"wires":[[]]},{"id":"af77e0cf.9d99b","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/capt.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":280,"wires":[["a9f3265a.876ec8"]]},{"id":"e709f2f8.4c41a","type":"exec","z":"f679c76e.4f0598","command":"/home/ivan/anaconda3/envs/Zero-DCE-master/bin/python /media/ivan/Ivan/Final\\ Applied\\ CV/Zero-DCE-master/Zero-DCE_code/lowlight_test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Enhance Image","x":760,"y":280,"wires":[["467cb8db.7dae88"],["318e741f.be8bac"],[]]},{"id":"318e741f.be8bac","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"467cb8db.7dae88","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"caa9509b.1f60d","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/correct.jpg","recursive":"","x":530,"y":400,"wires":[["b4413504.176a88"]]},{"id":"b4413504.176a88","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":400,"wires":[["e1f1f2c5.5743e"]]},{"id":"372c1c94.516084","type":"ui_template","z":"f679c76e.4f0598","group":"fd7217a5.08ead8","name":"Zero DCE+Correct","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE + Color Correction</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":400,"wires":[[]]},{"id":"e1f1f2c5.5743e","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/correct.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":400,"wires":[["372c1c94.516084"]]},{"id":"4dbfba84.68d364","type":"blynk-ws-out-write","z":"f679c76e.4f0598","name":"","pin":"0","pinmode":0,"client":"f15c98e5.01fa38","x":500,"y":480,"wires":[]},{"id":"f69f88ea.534138","type":"ui_slider","z":"f679c76e.4f0598","name":"","label":"ISO","tooltip":"","group":"b2282044.18e91","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":310,"y":480,"wires":[["4dbfba84.68d364"]]},{"id":"fa09791.0bae088","type":"blynk-ws-in-write","z":"f679c76e.4f0598","name":"","pin":"0","pin_all":0,"client":"f15c98e5.01fa38","x":130,"y":480,"wires":[["f69f88ea.534138"]]},{"id":"5a963d61.e5a814","type":"blynk-ws-in-write","z":"f679c76e.4f0598","name":"","pin":"1","pin_all":0,"client":"f15c98e5.01fa38","x":120,"y":100,"wires":[["483eed12.c55014"]]},{"id":"b2282044.18e91","type":"ui_group","name":"Camera Control","tab":"e7b5a586.d56998","order":4,"disp":true,"width":"6","collapse":false},{"id":"66b67db5.24dd14","type":"ui_group","name":"Original","tab":"e7b5a586.d56998","order":1,"disp":true,"width":"12","collapse":false},{"id":"e342e4f3.b8e718","type":"ui_group","name":"176p MJPEG Stream","tab":"7a3391b6.03a81","order":2,"disp":true,"width":"6","collapse":false},{"id":"28cbae81.817142","type":"ui_group","name":"352p MJPEG Stream","tab":"7a3391b6.03a81","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6452c1d.e36f3","type":"ui_group","name":"1080p MJPEG Stream","tab":"7a3391b6.03a81","order":3,"disp":true,"width":"6","collapse":false},{"id":"20fd0af7.061a86","type":"ui_group","name":"Zero DCE Only","tab":"e7b5a586.d56998","order":2,"disp":true,"width":"12","collapse":false},{"id":"fd7217a5.08ead8","type":"ui_group","name":"Zero DCE+Correct","tab":"e7b5a586.d56998","order":3,"disp":true,"width":"12","collapse":false},{"id":"f15c98e5.01fa38","type":"blynk-ws-client","name":"","path":"ws://blynk-cloud.com/websockets","key":"3R4IsRTqgYffWwQWRiIROl002hwD7cYQ","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"e7b5a586.d56998","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7a3391b6.03a81","type":"ui_tab","name":"Wiki Tutorial","icon":"dashboard","order":29}]