nodered_flow_10 Januari 2021.json
[{"id":"f679c76e.4f0598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"483eed12.c55014","type":"exec","z":"f679c76e.4f0598","command":"gphoto2 --force-overwrite --filename '/media/ivan/Ivan/Final Applied CV/images/original/test_img/capt.jpg'  --capture-image-and-download","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Capture camera","x":320,"y":60,"wires":[["5190d93d.5af598"],["5cbe1af.ffe53e4"],[]]},{"id":"26bc4132.7bb5ce","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/original/test_img/capt.jpg","recursive":"","x":110,"y":340,"wires":[["65996d3f.ca6694","e709f2f8.4c41a"]]},{"id":"a1782a27.aa3838","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/original/test_img/capt.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["b6b17214.6254b"]]},{"id":"65996d3f.ca6694","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":280,"wires":[["a1782a27.aa3838"]]},{"id":"5cbe1af.ffe53e4","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"5190d93d.5af598","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":20,"wires":[]},{"id":"e709f2f8.4c41a","type":"exec","z":"f679c76e.4f0598","command":"/home/ivan/anaconda3/envs/Zero-DCE-master/bin/python /media/ivan/Ivan/Final\\ Applied\\ CV/Zero-DCE-master/Zero-DCE_code/lowlight_test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Enhance Image","x":340,"y":340,"wires":[["467cb8db.7dae88","7cd6c6d4.b71d08"],["318e741f.be8bac"],[]]},{"id":"318e741f.be8bac","type":"debug","z":"f679c76e.4f0598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"467cb8db.7dae88","type":"debug","z":"f679c76e.4f0598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":320,"wires":[]},{"id":"aa349397.d0736","type":"ui_button","z":"f679c76e.4f0598","name":"","group":"66b67db5.24dd14","order":1,"width":0,"height":0,"passthru":false,"label":"Capture camera","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":40,"wires":[["483eed12.c55014"]]},{"id":"b6b17214.6254b","type":"ui_template","z":"f679c76e.4f0598","group":"66b67db5.24dd14","name":"Original","order":3,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Original Image from Camera</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":280,"wires":[[]]},{"id":"5a963d61.e5a814","type":"blynk-ws-in-write","z":"f679c76e.4f0598","name":"","pin":"1","pin_all":0,"client":"f15c98e5.01fa38","x":120,"y":100,"wires":[["483eed12.c55014"]]},{"id":"20cb4366.3c337c","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/capt.jpg","recursive":"","x":110,"y":540,"wires":[["76498b95.f52254"]]},{"id":"ead4f378.c14cb","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/capt.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":540,"wires":[["4978ebac.824174"]]},{"id":"4978ebac.824174","type":"ui_template","z":"f679c76e.4f0598","group":"20fd0af7.061a86","name":"Zero DCE Only","order":1,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":540,"wires":[[]]},{"id":"82165c43.f2144","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/correct.jpg","recursive":"","x":110,"y":600,"wires":[["e9b2ce45.ce85a"]]},{"id":"e9b2ce45.ce85a","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":600,"wires":[["11ad4cf5.0228e3"]]},{"id":"11ad4cf5.0228e3","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/correct.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":600,"wires":[["bdb8ce8b.90a79"]]},{"id":"bdb8ce8b.90a79","type":"ui_template","z":"f679c76e.4f0598","group":"fd7217a5.08ead8","name":"Zero DCE+Correct","order":1,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE + Color Correction</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":600,"wires":[[]]},{"id":"a7304016.a3f85","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/wavelet.jpg","recursive":"","x":110,"y":660,"wires":[["cc4dd3ad.be52e"]]},{"id":"cc4dd3ad.be52e","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":660,"wires":[["825155d2.d79668"]]},{"id":"825155d2.d79668","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/wavelet.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":660,"wires":[["45e8bc18.a251c4"]]},{"id":"45e8bc18.a251c4","type":"ui_template","z":"f679c76e.4f0598","group":"bf96f1.07d0891","name":"Zero DCE+Correct+Wavelet","order":1,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE + Color Correction + Wavelet Denoise</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":660,"wires":[[]]},{"id":"524d712c.97a8d","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/opencv.jpg","recursive":"","x":110,"y":720,"wires":[["4927027.6adb3fc"]]},{"id":"4927027.6adb3fc","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":720,"wires":[["fc387155.d27df"]]},{"id":"fc387155.d27df","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/opencv.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":720,"wires":[["a664d8bd.f6e668"]]},{"id":"a664d8bd.f6e668","type":"ui_template","z":"f679c76e.4f0598","group":"476d969b.17c6f8","name":"Zero DCE+Correct+OpenCV","order":1,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE + Color Correction + OpenCV Denoise</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":720,"wires":[[]]},{"id":"76498b95.f52254","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":540,"wires":[["ead4f378.c14cb"]]},{"id":"7cd6c6d4.b71d08","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":420,"wires":[["1f2e407d.d311d"]]},{"id":"1f2e407d.d311d","type":"exec","z":"f679c76e.4f0598","command":"/home/ivan/anaconda3/envs/Zero-DCE-master/bin/python /media/ivan/Ivan/Final\\ Applied\\ CV/Zero-DCE-master/Zero-DCE_code/lowlight_test_original.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Enhance Image","x":720,"y":420,"wires":[["a2265d9.05546a"],["cc1931f9.b04bb"],[]]},{"id":"cc1931f9.b04bb","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":440,"wires":[]},{"id":"a2265d9.05546a","type":"debug","z":"f679c76e.4f0598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":400,"wires":[]},{"id":"66aeeac5.a0f2b4","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/capt_prev.jpg","recursive":"","x":110,"y":820,"wires":[["31e55e3b.1f08d2"]]},{"id":"8e20c0ad.a16e5","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/capt_prev.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":820,"wires":[["dac81264.b1d0c"]]},{"id":"dac81264.b1d0c","type":"ui_template","z":"f679c76e.4f0598","group":"20fd0af7.061a86","name":"Zero DCE Prev","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE Before Retrain</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":820,"wires":[[]]},{"id":"aa9453fd.4ec29","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/correct_prev.jpg","recursive":"","x":110,"y":880,"wires":[["93acb3c8.4de8"]]},{"id":"93acb3c8.4de8","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":880,"wires":[["a3792b34.e03638"]]},{"id":"a3792b34.e03638","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/correct_prev.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":880,"wires":[["2a75465.e3024ba"]]},{"id":"2a75465.e3024ba","type":"ui_template","z":"f679c76e.4f0598","group":"fd7217a5.08ead8","name":"Zero DCE Prev+Correct","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE Before Retrain+ Color Correction</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":880,"wires":[[]]},{"id":"723629a8.5dd608","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/wavelet_prev.jpg","recursive":"","x":110,"y":940,"wires":[["a4f577a9.236ef8"]]},{"id":"a4f577a9.236ef8","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":940,"wires":[["3f8dbe68.9aac12"]]},{"id":"3f8dbe68.9aac12","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/wavelet_prev.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":940,"wires":[["d8d089d3.049f28"]]},{"id":"d8d089d3.049f28","type":"ui_template","z":"f679c76e.4f0598","group":"bf96f1.07d0891","name":"Zero DCE Prev+Correct+Wavelet","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE Before Retrain+ Color Correction + Wavelet Denoise</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":940,"wires":[[]]},{"id":"45dbb545.c8071c","type":"watch","z":"f679c76e.4f0598","name":"watch for pic","files":"/media/ivan/Ivan/Final Applied CV/images/result/test_img/opencv_prev.jpg","recursive":"","x":110,"y":1000,"wires":[["f22fc2de.5731f"]]},{"id":"f22fc2de.5731f","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1000,"wires":[["d532c2c5.b8aa7"]]},{"id":"d532c2c5.b8aa7","type":"function","z":"f679c76e.4f0598","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/result/test_img/opencv_prev.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1000,"wires":[["f9fffdbd.cbdc3"]]},{"id":"f9fffdbd.cbdc3","type":"ui_template","z":"f679c76e.4f0598","group":"476d969b.17c6f8","name":"Zero DCE Prev+Correct+OpenCV","order":2,"width":0,"height":0,"format":"<div height=\"500\" style=\"height:500px;\">\n    <h2>Result of Zero-DCE Before Retrain + Color Correction + OpenCV Denoise</h2>\n    <img ng-src= {{msg.payload}} width=\"600\"/><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":1000,"wires":[[]]},{"id":"31e55e3b.1f08d2","type":"delay","z":"f679c76e.4f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":820,"wires":[["8e20c0ad.a16e5"]]},{"id":"66b67db5.24dd14","type":"ui_group","name":"Original","tab":"e7b5a586.d56998","order":1,"disp":true,"width":11,"collapse":false},{"id":"f15c98e5.01fa38","type":"blynk-ws-client","name":"","path":"ws://blynk-cloud.com/websockets","key":"3R4IsRTqgYffWwQWRiIROl002hwD7cYQ","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"20fd0af7.061a86","type":"ui_group","name":"Zero DCE Only","tab":"e7b5a586.d56998","order":2,"disp":true,"width":11,"collapse":false},{"id":"fd7217a5.08ead8","type":"ui_group","name":"Zero DCE+Correct","tab":"e7b5a586.d56998","order":3,"disp":true,"width":11,"collapse":false},{"id":"bf96f1.07d0891","type":"ui_group","name":"Zero DCE+Correct+Wavelet","tab":"e7b5a586.d56998","order":4,"disp":true,"width":11,"collapse":false},{"id":"476d969b.17c6f8","type":"ui_group","name":"ZeroDCE+Correct+OpenCV","tab":"e7b5a586.d56998","order":5,"disp":true,"width":11,"collapse":false},{"id":"e7b5a586.d56998","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]